<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>commodity</th>
      <th>supplier</th>
      <th>Model_id</th>
      <th>price_in_dollars</th>
      <th>supplier_rating</th>
      <th>component_rating</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>311</th>
      <td>Mouse</td>
      <td>Promise Technology</td>
      <td>120318</td>
      <td>18.0</td>
      <td>9</td>
      <td>7</td>
    </tr>
    <tr>
      <th>159</th>
      <td>Keyboard</td>
      <td>Maxtor</td>
      <td>523261</td>
      <td>19.0</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>182</th>
      <td>DVDdrive</td>
      <td>Buffalo Technology</td>
      <td>767512</td>
      <td>32.0</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>6</th>
      <td>HDD500GB</td>
      <td>IoSafe</td>
      <td>428599</td>
      <td>72.0</td>
      <td>9</td>
      <td>7</td>
    </tr>
    <tr>
      <th>235</th>
      <td>Chasis</td>
      <td>Acer</td>
      <td>668817</td>
      <td>77.0</td>
      <td>9</td>
      <td>8</td>
    </tr>
    <tr>
      <th>124</th>
      <td>RAM16GB</td>
      <td>G-Technology</td>
      <td>822051</td>
      <td>86.0</td>
      <td>9</td>
      <td>7</td>
    </tr>
    <tr>
      <th>281</th>
      <td>PSU400</td>
      <td>Promise Technology</td>
      <td>451595</td>
      <td>91.0</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>105</th>
      <td>RAM8GB</td>
      <td>Sony</td>
      <td>727324</td>
      <td>97.0</td>
      <td>8</td>
      <td>9</td>
    </tr>
    <tr>
      <th>402</th>
      <td>Speaker</td>
      <td>Samsung</td>
      <td>696862</td>
      <td>97.0</td>
      <td>8</td>
      <td>9</td>
    </tr>
    <tr>
      <th>335</th>
      <td>Monitor</td>
      <td>Hyundai</td>
      <td>747979</td>
      <td>109.0</td>
      <td>9</td>
      <td>9</td>
    </tr>
    <tr>
      <th>49</th>
      <td>CPU</td>
      <td>Verbatim Corporation</td>
      <td>329203</td>
      <td>112.0</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>76</th>
      <td>MotherBoard</td>
      <td>Toshiba</td>
      <td>508475</td>
      <td>133.0</td>
      <td>8</td>
      <td>7</td>
    </tr>
    <tr>
      <th>269</th>
      <td>PSU800</td>
      <td>Chassis Plans</td>
      <td>598303</td>
      <td>156.0</td>
      <td>9</td>
      <td>7</td>
    </tr>
    <tr>
      <th>362</th>
      <td>GraphicCard</td>
      <td>Buffalo Technology</td>
      <td>362789</td>
      <td>258.0</td>
      <td>8</td>
      <td>8</td>
    </tr>
  </tbody>
</table>