<html>
   <center>

   <head><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> <title>Dell BOM SYSTEM</title> 
   <link rel="stylesheet" href="./index.css"></head>
    <body>
       <h3> <b><br>Latest Data Acquisition System </br> </b></h3>

       <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6SCUWVGg0eMB2bzZrT4Y0mbjrESxEAdRta4dA9AgGZbisDX_bYA" width="400" height="300"></img>


      <form action = "http://localhost:5000/posting" method = "post">
         <p>Enter type of component</p>
         <p><input type = "component" name = "component" /></p>
         <p>Enter the product name</p>
         <p><input type = "product" name = "product"/></p>
         <p>Enter max item types</p>
         <p><input type = "" name = "max"/></p>
         <p><input type = "submit" value = "submit" /></p>
         <!----<button type="submit" class="btn btn-primary">Submit</button>-->
      </form>
   </body>
   </center>
</html>








