.container
{
    margin-left: 40%;
    margin-top: 15%;
    width: 300px;
}

.submission
{
    margin-bottom: 10px;
    /* row-gap: 150px; */
}

#s
{
    padding-left: 15%
}

.anime
{
    animation-duration: 0.75s;
    animation-name: slidein;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes slidein {
    from {
        margin-left: 40%;
        margin-top: 15%;
        width: 300px;
    }
  
    to {
        margin-left: 30px;
        margin-top: 15%;
        width: 300px;
    }
}