.container
{
    margin-left: 40%;
    margin-top: 5%;
    width: 300px;
}

.submission
{
    margin-bottom: 10px;
    /* row-gap: 150px; */
}

#s
{
    padding-left: 5%
}
img
{
    transform: scale(0.4);
    margin-left: -10%;
    /* float: center; */
    /* margin-right: 200px; */
    /* padding-right: 200px; */
}

.custom-select
{
    width: 222px;
}

.dtable
{
    margin-right: 10px;
    /* margin-top: 30px; */
    float: right;
    /* transform: scale(0.7); */
    /* width: 750px; */
    /* display: flex;
    justify-content: space-around; */
}

body div{
    display: inline-block;
}
.anime
{
    animation-duration: 0.75s;
    animation-name: slidein;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes slidein {
    from {
        margin-left: 40%;
        margin-top: 5%;
        width: 300px;
    }
  
    to {
        margin-left: 30px;
        margin-top: 5%;
        width: 300px;
    }
}

.table-anime
{
    animation-duration: 0.75s;
    animation-name: fadein;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}